<template>
  <k-field :disabled="disabled" :label="label" :name="name" :required="required" :type="type" class="k-table-field" v-bind="$props">
    <prism-editor @input="onInput" class="my-editor" v-model="value" :highlight="highlighter" v-bind:line-numbers="lineNumbers"></prism-editor>
  </k-field>
</template>

<script>
  import { PrismEditor } from 'vue-prism-editor';
  import 'vue-prism-editor/dist/prismeditor.min.css'; // import the styles somewhere

  // import highlighting library (you can use any library you want just return html string)
  import { highlight, languages } from 'prismjs/components/prism-core';
  import 'prismjs/components/prism-clike';
  import 'prismjs/components/prism-markup';
  import 'prismjs/components/prism-javascript';
  import 'prismjs/components/prism-css';

  // import syntax highlighting styles
  import 'prismjs/themes/prism-tomorrow.css'; 

  export default {
      components: {
        PrismEditor,
      },
      props: {
        lineNumbers: Boolean,
        // general options
        label: String,
        disabled: Boolean,
        help: String,
        parent: String,
        value: [String, Array],
        name: [String, Number],
        required: Boolean,
        type: String
      },
      methods: {
        highlighter(value) {
         return highlight(
            value,
            {
              ...languages['markup'],
              ...languages['js'],
              ...languages['css'],
            },
            'markup'
          );
        },
        onInput: function () {
          this.$emit("input", this.value);
        }
      }
  }
</script>

<style>
  /* required class */
  .my-editor {
    /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
    background: #2d2d2d;
    color: #ccc;

    /* you must provide font-family font-size line-height. Example: */
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
  }
  /* optional class for removing the outline */
  .prism-editor__textarea:focus {
      outline: none;
  }
</style>